[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "blogs/kraehenbeisser"]
	path = blogs/kraehenbeisser
	url = https://github.com/cmahnke/kraehenbeisser.git
[submodule "blog/diapraesentation"]
	path = blogs/diapraesentation
	url = https://github.com/cmahnke/diapraesentation.git
[submodule "blogs/flohmarktfunde"]
	path = blogs/flohmarktfunde
	url = https://github.com/cmahnke/flohmarktfunde.git
[submodule "blogs/haesslicheplastiktiereundzeugs"]
	path = blogs/haesslicheplastiktiereundzeugs
	url = https://github.com/cmahnke/haesslicheplastiktiereundzeugs.git
[submodule "blogs/ric-unknownartist"]
	path = blogs/ric-unknownartist
	url = https://github.com/cmahnke/ric-unknownartist.git
[submodule "blogs/kleiderbuegel"]
	path = blogs/kleiderbuegel
	url = https://github.com/cmahnke/kleiderbuegel.git
[submodule "blogs/yaapb"]
	path = blogs/yaapb
	url = https://github.com/cmahnke/yaapb.git
[submodule "blogs/vorsatzpapier"]
	path = blogs/vorsatzpapier
	url = https://github.com/cmahnke/vorsatzpapier.git
