[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "blogs/kraehenbeisser"]
	path = blogs/kraehenbeisser
	url = https://github.com/cmahnke/kraehenbeisser.git
[submodule "blog/diapraesentation"]
	path = blog/diapraesentation
	url = https://github.com/cmahnke/diapraesentation.git
