[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "blogs/kraehenbeisser"]
	path = blogs/kraehenbeisser
	url = https://github.com/cmahnke/kraehenbeisser.git
[submodule "blogs/diapraesentation"]
	path = blogs/diapraesentation
	url = https://github.com/cmahnke/diapraesentation.git
[submodule "blogs/flohmarktfunde"]
	path = blogs/flohmarktfunde
	url = https://github.com/cmahnke/flohmarktfunde.git
[submodule "blogs/haesslicheplastiktiereundzeugs"]
	path = blogs/haesslicheplastiktiereundzeugs
	url = https://github.com/cmahnke/haesslicheplastiktiereundzeugs.git
[submodule "blogs/ric-unknownartist"]
	path = blogs/ric-unknownartist
	url = https://github.com/cmahnke/ric-unknownartist.git
[submodule "blogs/kleiderbuegel"]
	path = blogs/kleiderbuegel
	url = https://github.com/cmahnke/kleiderbuegel.git
[submodule "blogs/yaapb"]
	path = blogs/yaapb
	url = https://github.com/cmahnke/yaapb.git
[submodule "blogs/vorsatzpapier"]
	path = blogs/vorsatzpapier
	url = https://github.com/cmahnke/vorsatzpapier.git
[submodule "blogs/schriftmuster"]
	path = blogs/schriftmuster
	url = https://github.com/cmahnke/schriftmuster.git
[submodule "blogs/backsteinexpressionismus"]
	path = blogs/backsteinexpressionismus
	url = https://github.com/cmahnke/backsteinexpressionismus.git
[submodule "blogs/blaufusstoelpel"]
	path = blogs/blaufusstoelpel
	url = https://github.com/cmahnke/blaufusstoelpel.git
[submodule "static.projektemacher.org"]
	path = static.projektemacher.org
	url = https://github.com/cmahnke/static.projektemacher.org.git
[submodule "blogs/kinderbuecher"]
	path = blogs/kinderbuecher
	url = https://github.com/cmahnke/kinderbuecher.git
[submodule "blogs/labs.projektemacher.org"]
	path = blogs/labs.projektemacher.org
	url = https://github.com/cmahnke/labs.projektemacher.org.git
[submodule "themes/projektemacher-base"]
	path = themes/projektemacher-base
	url = https://github.com/cmahnke/projektemacher-base.git
[submodule "blogs/briefsteller"]
	path = blogs/briefsteller
	url = https://github.com/cmahnke/briefsteller.git
[submodule "blogs/christianmahnke"]
	path = blogs/christianmahnke
	url = https://github.com/cmahnke/christianmahnke.git
[submodule "blogs/merch.projektemacher"]
	path = blogs/merch.projektemacher
	url = https://github.com/cmahnke/merch.projektemacher.git
