node_modules
docs
resources
patches
.hugo_build.lock
hugo_stats.json
static/images/laborant.svg
content/logo/img001.jpg
content/logo/img001
static/images/cm.png
static/images/favicon*
yarn-error.log
static/images/img*
static/images/laborant.png
static/iiif
static/pdfjs
projektemacher.ics
static/fonts/**
assets/css/**
**/vips-properties.xml
data/stats.json
static/images/cm.*
static/images/logo.*
static/images/apple-touch-icon.png

assets/scss/npm-fonts/
assets/scss/flags/
