baseURL = "http://example.org/"
languageCode = "de"
title = "Projektemacher"
theme = "hugo-coder"
publishDir = "docs"
canonifyurls = true
disableKinds = ["term", "taxonomy"]
languagecode = "de"
defaultcontentlanguage = "de"

[params]
    author = "Projektemacher"
    description = "Blog Potpourri"
    keywords = "blog, book, digitization, history, cultural history"
    info = "Was früher Bandnamen waren, sind heute Blogs..."
    avatar1url = "images/avatar.jpg"
    avatar2url = ""
    footercontent = "Enter a text here."

    hideFooter = true
    hideCredits = true
    hideCopyright = true
    since = 2020

    colorscheme = "light"

[module]
    [[module.mounts]]
        source = "assets/scss"
        target = "assets/scss"

    [[module.mounts]]
        source = "node_modules/@fortawesome/fontawesome-free/webfonts"
        target = "static/css/webfonts"

    [[module.mounts]]
        source = "node_modules/jquery/dist"
        target = "assets/js/jquery"

    [[module.mounts]]
        source = "assets/js"
        target = "assets/js"

    [[module.mounts]]
        source = "blogs/kraehenbeisser/content/post"
        target = "content/post/kraehenbeisser"

    [[module.mounts]]
        source = "content"
        target = "content"

[languages]
    [languages.de]
        languagename = "Deutsch"

        [languages.de.menu]

            [[languages.de.menu.main]]
                name = "Blogs"
                weight = 1
                url = "blogs/"

            [[languages.de.menu.main]]
                name = "News"
                weight = 2
                url = "posts/"

            [[languages.de.menu.main]]
                name = "Über"
                weight = 3
                url = "about/"

            [[languages.de.menu.main]]
                name = "Kontakt"
                weight = 4
                url = "contact/"

    [languages.en]
        languagename = "English"
        title = "Projektemacher"

        [languages.en.params]
            info = "Full Stack DevOps e Mágico"
            description = "Sítio pessoal de João Ninguém"
            footercontent = "Coloque algum texto aqui."

        [languages.en.menu]

            [[languages.en.menu.main]]
                name = "Blogs"
                weight = 1
                url = "blogs/"

            [[languages.en.menu.main]]
                name = "News"
                weight = 2
                url = "posts/"

            [[languages.en.menu.main]]
                name = "About"
                weight = 3
                url = "about/"

            [[languages.en.menu.main]]
                name = "Contact"
                weight = 4
                url = "contact/"
