@import "leaflet";
@import "Control.FullScreen";

// Leaflet
.viewer {
    width: 100%;
    height: 100vh
}

.logo .viewer {
    width: 100%;
    height: 65vh
}

// Leaflet fullscreen
.fullscreen-icon {
    {{ $leafletFullscreenIcon := resources.Get "js/leaflet.fullscreen/icon-fullscreen.png" }}
    background-image: url({{ $leafletFullscreenIcon.RelPermalink }})
}

.leaflet-retina .fullscreen-icon {
    {{ $leafletFullscreenIconRetina := resources.Get "js/leaflet.fullscreen/icon-fullscreen.png" }}
    background-image: url({{ $leafletFullscreenIconRetina.RelPermalink }});
    background-size: 26px 26px
}
