{{ define "title" }}
  {{- if eq .Kind "term" -}}
    {{- i18n .Data.Singular | title -}}
    {{- print ": " -}}
  {{- end -}}

  {{- .Title }} · {{ .Site.Title -}}
{{ end }}
{{ define "content" }}
    <div class="content list">
        <section class="container list">
          <article class="archive">
          <header>
              <h1 class="title header">
                {{- if eq .Kind "term" -}}
                  {{- i18n .Data.Singular | title -}}
                  {{- print ": " -}}
                {{- end -}}

                {{- .Title -}}
              </h1>
          </header>
          <div class="archive-description">{{ .Content }}</div>

          <div class="archive-filter">
            <h2 class="filter-header">{{ i18n "filter" }}</h2>
            <div class="filter-list">
                {{- $pages := where .Data.Pages "Section" "blog" -}}
                {{- $pages = ($pages | lang.Merge (where .Sites.First.RegularPages "Section" "blog") ) -}}
                {{- $pages = sort $pages ".Title" "asc" -}}
                {{- range $pages -}}
                    {{- if and (isset .Params "archive") (eq .Params.archive false) -}}
                        {{- continue -}}
                    {{/* (and (isset .Params "private") (eq .Params.private true)) */}}
                    {{- else if and (isset .Params "status") (eq .Params.status "planned") -}}
                        {{- continue -}}
                    {{- end -}}
                    {{- if not (isset .Params "archive") -}}
                        {{- if or (and (isset .Params "displayinlist") (ne .Params.displayinlist false)) (and (isset .Params "displayInList") (ne .Params.displayInList false)) -}}
                            {{- continue -}}
                        {{- end -}}
                    {{- end -}}

                    {{- $dir := split (string (path.Dir .Path)) "/" -}}
                    {{- $prefix := index $dir 1 -}}
                    <div class="filter">
                        <input type="checkbox" id="{{ $prefix }}-checkbox" data-filter="{{ $prefix }}" class="filter-checkbox" checked>
                        <span class="blog-filter"> {{ .Title }}</span>
                    </div>
                {{- end -}}
                <script type="text/javascript">
                    function filter (elem) {
                        var box;
                        if (elem.is('input')) {
                            box = elem;
                        } else {
                            box = elem.siblings('input:checkbox');
                            if (box.is(':checked')) {
                                box.prop('checked', false);
                            } else {
                                box.prop('checked', true);
                            }
                        }
                        var blog = box.data('filter');

                        $('.archive-content .' + blog).toggle();
                        $('.archive-content ul.month-section').each(function () {
                            var hide = true;
                            $(this).find('li').each(function () {
                                if ($(this).is(":visible")) {
                                    hide = false;
                                }
                            });
                            if (hide) {
                                $(this).toggle();
                            }
                        });

            /*
                        $('.archive-content ul.year-section').each(function () {
                            var hide = true;
                            $(this).find('ul.month-section').each(function () {
                                if ($(this).is(":visible")) {
                                    hide = false;
                                }
                            });
                            if (hide) {
                                $(this).toggle();
                                $(this).prev('.year').toggle();
                            }
                        });
            */

            /*
                        $('.archive-content .collapse').addClass('show');
            */
                    }

                    $('.archive-filter .filter').find('.blog-filter, .filter-checkbox:checked').on("click", function (e) {
                        filter($(this));
                    });
                </script>
            </div>
          </div>
          <hr class="archive-hr">
          <div class="archive-content">
              {{- $pages := (partial "blog-posts.html" (dict "context" . "type" "archive")) -}}

              {{- $firstYear := (index (first 1 $pages) 0).Date.Year -}}
              {{- $lastYear := (index (last 1 $pages) 0).Date.Year -}}
              {{- if eq $firstYear 1 -}}
                {{ warnf "%s" (index (first 1 $pages) 0) -}}
                {{- warnf "Building archive for years %d to %d" $firstYear $lastYear -}}
                {{- end -}}

              {{- range (seq $firstYear $lastYear) -}}
                {{ $year := . }}
                {{- if len (where $pages ".Date.Year" "==" $year) -}}
                    <a class="year collapse-header" aria-expanded="false" data-toggle="collapse" aria-controls="collapse-{{ $year }}" href="#year-{{ $year }}">
                        <i class="fas fa-plus"></i>
                        <i class="fas fa-minus"></i>
                        <h2 class="year-header">{{ $year }}</h2>
                    </a>
                    <ul id="year-{{ $year }}" class="year-section collapse">
                        {{- $yearPages := where $pages ".Date.Year" "==" . -}}
                        {{- range (seq 1 12 ) -}}
                            {{- $month := . -}}
                            {{- if len (where $yearPages ".Date.Month" "==" $month) -}}
                              <li class="month-section">
                                <ul class="month-section month-{{ $month }}">
                                    {{- $monthName := "" -}}
                                    {{ if eq "de" $.Site.Language.Lang }}
                                        {{ $monthName = (index $.Site.Data.months (printf "%d" $month)) }}
                                    {{- else -}}
                                        {{- $monthName = (dateFormat "January" (printf "2001-%02d-01" $month)) -}}
                                    {{- end -}}

                                    <span class="month">{{ $monthName }}</span>
                                    {{- range (where $yearPages ".Date.Month" "==" $month) -}}

                                        {{- $dir := split (string (path.Dir .Path)) "/" -}}

                                        {{- $displayName := "" -}}
                                        {{- $postLink := "" -}}
                                        {{- $linkPrefix := "" -}}
                                        {{- $prefix := index $dir 1 -}}
                                        {{- $sectionHeading := printf "/%s" (delimit (slice "blog" $prefix) "/") -}}
                                        {{- $blogPage := .Site.GetPage $sectionHeading -}}
                                        {{/* This is a workaround for a Hugo bug regarding dots in path names */}}
                                        {{- if in $prefix "." -}}
                                            {{- $blogPage = .Site.GetPage (printf "%s/index.md" $sectionHeading) -}}
                                        {{- end -}}
                                        {{- $displayName = printf "%s: " $blogPage.Title -}}
                                        {{- if ($blogPage.Param "linkPrefix") -}}
                                          {{ $linkPrefix = $blogPage.Param "linkPrefix" -}}
                                        {{- else -}}
                                          {{ $linkPrefix = $blogPage.Param "link" -}}
                                        {{- end -}}
                                        {{- $postLink = split (string .Path) "/" -}}

                                        {{- if eq (len $dir) 2 -}}
                                            {{- $postLink = last (sub (len $postLink) 0) $postLink -}}
                                        {{ else }}
                                            {{- $postLink = last (sub (len $postLink) 2) $postLink -}}
                                        {{- end -}}
                                        {{- $postLink = delimit $postLink "/" -}}
                                        {{- $postLink = replaceRE "^(.*/)\\w*\\..*$" "$1" $postLink -}}
                                        {{- $postLink = printf "%s%s" $linkPrefix $postLink -}}

                                        {{- $openExternal := true -}}

                                        <li class="archive-link {{ $prefix }}">
                                            <div class="post-heading">
                                                <span class="date">
                                                    {{- partial "date.html" (dict "date" .Date "language" $.Page.Language "months" $.Site.Data.months) -}}
                                                </span>
                                                <span class="link">
                                                    {{- $postTitle := "" -}}
                                                    {{- if eq .Title "" -}}
                                                        {{- $postTitle = (i18n "untitledPost") -}}
                                                    {{- else -}}
                                                        {{- $postTitle = .Title -}}
                                                    {{- end -}}
                                                    <a class="title" href="{{ $postLink }}" {{- if $openExternal }} target="_blank"{{ else }}data-toggle="collapse"{{- end -}}>{{- $displayName }}{{ $postTitle -}}</a>
                                                </span>
                                            </div>
                                        </li>
                                    {{- end -}}
                                </ul>
                              </li>
                            {{- end -}}
                        {{- end -}}
                    </ul>
                {{- end -}}
              {{- end -}}
            </div>
          </article>
        </section>
    </div>

{{ end }}
