<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Language" content="{{ .Site.Language.Lang }}">

    {{- if and (eq .Kind "page") (eq .Section "blog") -}}
      {{- if and (.Params.link) (.Params.private) -}}
        <meta http-equiv="refresh" content="0; URL={{ .Params.link }}">
      {{- end -}}
    {{- end -}}

    {{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
    <meta name="description" content="{{ .Description | default (.Summary | default .Site.Params.description ) }}">
    <meta name="keywords" content="{{ (delimit .Keywords ",") | default .Site.Params.keywords }}">

    {{- if hasPrefix .Page.Name "404" -}}
        <meta http-equiv="refresh" content="15; URL={{ .Site.BaseURL }}">
    {{- end -}}

    {{- template "_internal/opengraph.html" . -}}

    {{- if .Permalink -}}
      <base href="{{ .Permalink }}">
    {{- end -}}
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>

    {{- if .Permalink -}}
      <link rel="canonical" href="{{ .Permalink }}">
    {{- end -}}

    {{/* JavaScript */}}
    {{- $defines := dict "process.env.NODE_ENV" `"production"` -}}
    {{- $opts := dict "targetPath" "js/main.js" "defines" $defines "minify" true -}}
    {{- $main := resources.Get "js/main.js" | js.Build $opts -}}
    {{- $js := slice $main | resources.Concat "js/main.js" | minify | fingerprint -}}
    <script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}"></script>

    {{/* Our own CSS / SCCS handling */}}
    {{/* Base style is included at SCSS level - see 'assets/scss/base.scss' */}}
    {{- $options := (dict "targetPath" "base.css" "outputStyle" "compressed" "includePaths" (slice "node_modules/normalize.css" "node_modules/ol" "node_modules/bootstrap/scss" "node_modules/@fortawesome/fontawesome-free/scss")) -}}
    {{- $ourTemplate := resources.Get "scss/base.scss" -}}
    {{- $ourStyle := $ourTemplate | resources.ExecuteAsTemplate "scss/base.scss" . | toCSS $options -}}
    {{- $style := slice $ourStyle | resources.Concat "css/concated.css" | minify | fingerprint -}}
    <link href="{{ $style.RelPermalink }}" rel="stylesheet" integrity="{{ $style.Data.Integrity }}">

    {{- if  or (eq .Site.Params.colorscheme "auto") (eq .Site.Params.colorscheme "dark") -}}
      {{- if .Site.IsServer -}}
        {{- $cssOpts := (dict "targetPath" "css/coder-dark.css" "enableSourceMap" true ) -}}
        {{- $styles := resources.Get "scss/coder-dark.scss" | resources.ExecuteAsTemplate "style.coder-dark.css" . | toCSS $cssOpts }}
        <link rel="stylesheet" href="{{ $styles.RelPermalink }}" media="screen">
      {{ else }}
        {{- $cssOpts := (dict "targetPath" "css/coder-dark.css" ) -}}
        {{- $styles := resources.Get "scss/coder-dark.scss" | resources.ExecuteAsTemplate "style.coder-dark.css" . | toCSS $cssOpts | minify | fingerprint -}}
        <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}" crossorigin="anonymous" media="screen" />
      {{ end }}
    {{ end }}

    {{/* External Styles - Fonts etc */}}
    {{ range .Site.Params.stylesheets -}}
    <link href="{{ . }}" rel="stylesheet">
    {{- end -}}

    {{ range .Site.Params.custom_css }}
      <link rel="stylesheet" href="{{ . | relURL }}" />
    {{ end }}

    {{ range .Site.Params.custom_scss }}
      {{/* We don't change the targetPath to because it's transparent to users */}}
      {{ if $.Site.IsServer }}
        {{- $cssOpts := (dict "enableSourceMap" true ) -}}
        {{- $styles := resources.Get . | toCSS $cssOpts -}}
        <link rel="stylesheet" href="{{ $styles.RelPermalink }}" media="screen">
      {{- else -}}
        {{- $styles := resources.Get . | toCSS | minify | fingerprint -}}
        <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}" crossorigin="anonymous" media="screen" />
      {{ end }}
    {{ end }}

    <link rel="icon" type="image/png" href="{{ .Site.Params.favicon_32 | default "/images/favicon-32.png" | absURL }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ .Site.Params.favicon_16 | default "/images/favicon-16.png" | absURL }}" sizes="16x16">
    {{ if .Site.Params.favicon_svg }}
        <link rel="icon" type="image/svg+xml" href="{{ .Site.Params.favicon_svg }}">
    {{ end }}
    {{ range .AlternativeOutputFormats -}}
      {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}
    {{ hugo.Generator }}
  </head>

  {{ $csClass := "colorscheme-light" }}
  {{ if eq .Site.Params.colorscheme "dark" }}
    {{ $csClass = "colorscheme-dark" }}
  {{ else if eq .Site.Params.colorscheme "auto" }}
    {{ $csClass = "colorscheme-auto" }}
  {{ end }}
  <body class="{{ $csClass }}">
    <main class="wrapper">
      {{ partial "header.html" . }}

      {{ block "content" . }}{{ end }}

      {{ partial "footer.html" . }}
    </main>

    {{ template "_internal/google_analytics.html" . }}

    {{ if and .Site.Params.fathomAnalytics .Site.Params.fathomAnalytics.siteID }}
      {{- partial "analytics/fathom" . -}}
    {{ end }}

  </body>

</html>
