{{ define "title" }}
  {{- if eq .Kind "term" -}}
    {{- i18n .Data.Singular | title -}}
    {{- print ": " -}}
  {{- end -}}

  {{- .Title }} · {{ .Site.Title -}}
{{ end }}
{{ define "content" }}
    <div class="content portfolio">
        <section class="container page">
          <article class="portfolio">

            {{ $pages := where .Data.Pages "Section" .Section }}
            {{- .Scratch.Set "pages" $pages -}}
            {{- $mainSite := .Sites.First -}}
            {{- if ne $mainSite .Site -}}
                {{- .Scratch.Set "pages" ($pages | lang.Merge (where $mainSite.RegularPages "Section" .Section) ) -}}
            {{- end -}}
            {{- $pages := .Scratch.Get "pages" -}}
            {{- $pages = where $pages "Params.displayinlist" "!=" false -}}
            {{- $pages = where $pages "Params.displayInList" "!=" false -}}
            {{- $sites := where $pages "Params.type" "==" "site" -}}
            {{- $sites = (sort $sites ".Title" "asc") -}}
            {{- $pages = where $pages "Params.type" "!=" "site" -}}
            {{- $sorted := (sort $pages ".Date" "asc").ByParam "status" -}}

            {{- if ($sites | len) -}}
              <header>
                <h1 class="header">{{ i18n "sites" }}</h1>
              </header>
              {{- partial "portfolio-list.html" $sites -}}
            {{- end -}}

            {{- if ($pages | len) -}}
              <header>
                <h1 class="header">{{ i18n "blogs" }}</h1>
              </header>
              {{- partial "portfolio-list.html" $pages -}}
            {{- end -}}

            <div class="portfolio-list-content">
              {{ .Content | markdownify }}
            </div>
          </article>
        </section>
    </div>
{{ end }}
