{{ define "title" }}
  {{- if eq .Kind "term" -}}
    {{- i18n .Data.Singular | title -}}
    {{- print ": " -}}
  {{- end -}}

  {{- .Title }} · {{ .Site.Title -}}
{{ end }}
{{ define "content" }}
    <div class="content list">
        <section class="container list">
          <article class="posts">
          <header>
              <h1 class="title header">
                {{- if eq .Kind "term" -}}
                  {{- i18n .Data.Singular | title -}}
                  {{- print ": " -}}
                {{- end -}}

                {{- .Title -}}
              </h1>
          </header>
          <div>{{- i18n "latestPosts" -}}</div>
          <ul>
            {{- $pages := (partial "blog-posts.html" (dict "context" . "type" "news")) -}}
            {{ range where $pages "Page.Date" "ge" (now.AddDate 0 -1 0) }}

            <li>
              <div class="post-heading">
                  {{- $dir := substr (string (path.Dir .Path)) 1 -}}
                  {{- $dir = split $dir "/" -}}
                  {{- $id := index $dir 1 -}}

                  {{- $displayName := "" -}}
                  {{- $postLink := "" -}}
                  {{- $linkPrefix := "" -}}
                  {{- $prefix := index $dir 1 -}}
                  {{- $sectionHeading := printf "/%s" (delimit (slice "blog" $prefix) "/") -}}
                  {{- $blogPage := .Site.GetPage $sectionHeading -}}
                  {{- if eq (printf "%T" $blogPage) "*page.nopPage" -}}
                      {{- $blogPage = .Site.GetPage "/blog/projektemacher/index.md" -}}
                      {{- $sectionHeading = "" -}}
                      {{- $prefix = "projektemacher" -}}
                  {{- end -}}

                  {{- $displayName = printf "%s: " $blogPage.Title -}}
                  {{- if ($blogPage.Param "linkPrefix") -}}
                    {{ $linkPrefix = $blogPage.Param "linkPrefix" -}}
                  {{- else -}}
                    {{ $linkPrefix = $blogPage.Param "link" -}}
                  {{- end -}}
                  {{- $postLink = split (substr (string .Path) 1) "/" -}}

                  {{- if eq (len $dir) 2 -}}
                      {{- $postLink = last (sub (len $postLink) 0) $postLink -}}
                  {{ else }}
                      {{- $postLink = last (sub (len $postLink) 2) $postLink -}}
                  {{- end -}}
                  {{- $postLink = delimit $postLink "/" -}}
                  {{- $postLink = replaceRE "^(.*/)\\w*\\..*$" "$1" $postLink -}}
                  {{- $postLink = printf "%s%s" $linkPrefix $postLink -}}
                  {{- $openExternal := true -}}
                  {{/* This is a hack, empty $linkPrefix means this site */}}
                  {{- if eq $linkPrefix nil -}}
                    {{- $postLink = (string .Path) -}}
                    {{- $openExternal = false -}}
                  {{- end -}}



                <span class="date">
                    {{- partial "date.html" (dict "date" .Date "language" $.Page.Language "months" $.Site.Data.months) -}}
                </span>
                <span class="link">
                    <a class="title" href="{{ $postLink }}" {{- if $openExternal -}}target="_blank"{{ else }}data-toggle="collapse"{{- end -}}>{{- $displayName }}{{ .Title -}}</a>
                </span>
              </div>
              <div class="post-snippet">
                {{ if ne .Description ""}}
                  <span class="description">{{- .Description | markdownify -}}</span>
                {{ else }}
                    <span class="post-spacer">&nbsp;</span>
                {{ end }}
                {{ if not $openExternal }}
                  <div class="post-content collapse collapsed" id="{{ $id }}">
                    {{ .Content }}
                  </div>
                {{ end }}
              </div>
            </li>
            {{ end }}
          </ul>
            <div class="post-list-content">
              {{ .Content }}
            </div>
        </article>
        </section>
    </div>
{{ end }}
