{{ define "title" }}
  {{- if eq .Kind "term" -}}
    {{- i18n .Data.Singular | title -}}
    {{- print ": " -}}
  {{- end -}}

  {{- .Title }} · {{ .Site.Title -}}
{{ end }}
{{ define "content" }}
  <div class="content list search">
    <div class="searchbox">
      <div class="box">
        <input id="search-box" class="search-input" type="text" name="search-bar" value="">
      </div>
      <button id="search-button" class="search-button" type="button" name="search-button"><i class="search-icon"></i><span class="button-text">{{ i18n "search" }}</span></button>
    </div>
    <div class="search-content result-list">
      <div class="search-filter" id="search-filter"></div>
      <div id="search-results" class="search-result-container"></div>
    </div>
  </div>
{{ end }}
