{{/* Handle parameters */}}
{{- $context := .context -}}
{{- $type := .type -}}

{{/* Get section metadata */}}
{{ $blogs := where $context.Site.Pages "Section" "blog" }}

{{/* Collect all relevant pages */}}
{{- $pages := where $context.Site.Pages "Section" "post" -}}

{{- $mainSite := $context.Sites.First -}}
{{- if ne $mainSite $context.Site -}}
    {{- $pages = ($pages | lang.Merge (where $mainSite.Pages "Section" "post")) -}}
{{- end -}}

{{/* Filter non post pages */}}
{{- $pages = where $pages "Params.displayinlist" "!=" false -}}
{{- $pages = where $pages "Params.displayInList" "!=" false -}}
{{- $pages = where $pages "Params.metaPage" "!=" true -}}
{{- $pages = where $pages "Date.IsZero" "==" false -}}

{{/* TODO: Also apply filters from blog config (see _default/archive.html) */}}
{{- $filterType := $type -}}
{{- if ne $type "" -}}
  {{- if eq $type "feed" -}}
    {{- $filterType = "news" -}}
  {{- end -}}
  {{- $pages = complement (where $pages (printf "Params.%s" $filterType) "==" false) $pages -}}
{{- end -}}

{{- range $filter := where $blogs (printf "Params.%s" $filterType) "==" false -}}
  {{- $dir := split (string (path.Dir .Path)) "/" -}}
  {{- $blogName := index $dir 1 -}}
  {{- $filterPath := path.Join "post" (index $dir 1) -}}

  {{- $filteredPages := slice -}}
  {{- range $p := $pages -}}

  {{- if hasPrefix $p.File.Dir $filterPath -}}
    {{- $filteredPages = $filteredPages | append $p -}}
  {{- end -}}
  {{- end -}}
  {{- $pages = $pages | symdiff $filteredPages -}}
{{- end -}}

{{- if eq $type "news" -}}
  {{- $pages = where $pages "Page.Date" "ge" (now.AddDate 0 -1 0) -}}
{{- else if eq $type "feed" -}}
  {{- $pages = first 20 $pages.ByDate.Reverse -}}
{{- end -}}

{{- return $pages -}}
