{{- $personURI := printf "%s%s" .Site.BaseURL "#person" -}}
{{- with site.Params.author.uri -}}
  {{- $personURI = . -}}
{{- end -}}

{{ $profilePage := dict
  "@context" "http://schema.org"
  "@graph" (slice
    (dict
      "@type" "Organization"
      "name" "Projektemacher"
      "url" "https://projektemacher.org/"
      "@id" "https://projektemacher.org/#organization"
      "logo" "https://projektemacher.org/images/laborant.jpg"
      "description" "Projects on digital everyday cultural heritage of the 20th century and hybrid media"
      "founder" (slice
        (dict
          "@type" "Person"
          "name" "Christian Mahnke"
          "givenName" "Christian"
          "@id" "{{ $personURI }}"
        )
      )
    )
    (dict
      "@type" "Collection"
      "name" "Digital Collection"
      "description" "A collection of IIIF-compliant digital collections."
      "mainEntityOfPage" "https://projektemacher.org/collection.json"
      "url" "https://projektemacher.org/blogs/"
      "isAccessibleForFree" true
      "creativeWorkStatus" "Published"
      "creator" (dict "@id" "https://christianmahnke.de/#person")
      "provider" (dict "@id" "https://projektemacher.org/#organization")
    )
  )
}}

<script type="application/ld+json">
  {{ jsonify $profilePage | safeJS }}
</script>
