<script type="application/ld+json">
{
    "@context" : "http://schema.org",
    "@type": "Organization",
    "name" : "Projektemacher",
    "url" : "https://projektemacher.org/",
    "logo": "https://projektemacher.org/images/laborant.jpg",
    "description": "Projects on digital everyday cultural heritage of the 20th century and hybrid media",
    "founder": [
      {
        "@type": "Person",
        "name" : "Christian Mahnke",
        "givenName" : "Christian",
        "familyName" : "Mahnke",
        "jobTitle" : "Creative Technologist",
        "url" : "https://christianmahnke.de/"
      }
    ]
}
</script>
