{{- $filename := "" -}}
{{- $content := "" -}}
{{- if (.Get "file") -}}
  {{- $filename = (.Get "file") -}}
{{- end -}}
{{- if fileExists $filename }}
    {{- if $filename -}}
        {{- $content = readFile $filename -}}
    {{- end -}}

    <div class="included-html">
      {{ if $content }}
        {{- $content | safeHTML -}}
      {{ else }}
        <div class="include-error">{{ $filename }} has no content!</div>
      {{ end }}
    </div>
{{- else -}}
    {{- warnf "Couldn't find %s!" $filename -}}
{{- end -}}
